@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #10b981;
  --color-primary-dark: #047857;
  --color-secondary: #64748b;
  --color-background: #f8fafc;
  --color-surface: #ffffff;
  --color-text-primary: #0f172a;
  --color-text-secondary: #64748b;
  --color-error: #ef4444;
}

body {
  background-color: var(--color-background);
  color: var(--color-text-primary);
}
